<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            .wrapper {
                width: 100%;
            }
            .main {
                width: 50%;
                margin: 50px auto;
            }
        </style>
    </head>
    <body>
        <div class="main">
            {% for comment in comments %}
            <div><b><a href="/?authorId={{ comment.author.id }}">{{ comment.nick }}</a></b>({{ comment.author.email}}) dnia {{ comment.createdAt|date("d.m.Y H:i") }} napisał:<br>{{ comment.content|nl2br }}  </div><br>
            {% endfor %}<br>
            {% if page > 1 %}<a href="/?page={{ page-1 }}{% if authorId %}&authorId={{ authorId }}{% endif %}">Poprzednia</a>&nbsp;{% endif %}<a href="/?page={{ page+1 }}{% if authorId %}&authorId={{ authorId }}{% endif %}">Następna</a><br>
            {% if authorId %}<a href="/">Powrót do strony głównej</a><br>{% endif %}
            {{ form(form) }}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
